{% if product.metafields.custom.certified_image or product.metafields.custom.downloadable_file %}

    <link rel="stylesheet" href="{{ 'details-and-download.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'details-and-download.css' | asset_url | stylesheet_tag }}</noscript>

    {%- style -%}
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }
  
      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
        }
      }
    {%- endstyle -%}

    <div class="isolate color-{{ section.settings.color_scheme }} gradient">
        <div id="Detail-and-download-section" class="details-and-download page-width page-width-tablet content-container section-{{ section.id }}-padding">
            <div class="details-and-download__wrapper">
                <div class="detail-container">
                    <p class="detail-title">Details</p>
                    <div class="detail-content">{{ product.description }}</div>
                </div>
                {% if product.metafields.custom.downloadable_file %}
                    <div class="download-container">
                        {% if product.metafields.custom.downloadable_file %}
                            <p class="download-title">Download</p>
                            <a target="_blank" class="download-content" href="{{ product.metafields.custom.downloadable_file.value.url }}" download>
                              <span>{{ product.metafields.custom.downloadable_file_text | default: 'Product sheet'  }}</span>
                              <svg class="icon icon-download" width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 1V10.5" stroke="currentColor" stroke-linecap="round"/>
                                <path d="M1 13L8 13" stroke="currentColor" stroke-linecap="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.85463 6.14689C8.80819 6.10033 8.75301 6.06339 8.69226 6.03818C8.63152 6.01297 8.5664 6 8.50063 6C8.43486 6 8.36974 6.01297 8.309 6.03818C8.24825 6.06339 8.19308 6.10033 8.14663 6.14689L4.50063 9.79389L0.854632 6.14689C0.760745 6.05301 0.633407 6.00026 0.500632 6.00026C0.367856 6.00026 0.240518 6.05301 0.146632 6.14689C0.052745 6.24078 0 6.36812 0 6.50089C0 6.63367 0.052745 6.76101 0.146632 6.85489L4.14663 10.8549C4.19308 10.9015 4.24825 10.9384 4.309 10.9636C4.36974 10.9888 4.43486 11.0018 4.50063 11.0018C4.5664 11.0018 4.63152 10.9888 4.69227 10.9636C4.75301 10.9384 4.80819 10.9015 4.85463 10.8549L8.85463 6.85489C8.90119 6.80845 8.93814 6.75327 8.96334 6.69253C8.98855 6.63178 9.00152 6.56666 9.00152 6.50089C9.00152 6.43513 8.98855 6.37001 8.96334 6.30926C8.93814 6.24851 8.90119 6.19334 8.85463 6.14689Z" fill="currentColor"/>
                              </svg>

                            </a>
                        {% endif %}
                        
                        {% if product.metafields.custom.certified_image %}
                            <div class="certified-image">
                                <img
                                    src="{{ product.metafields.custom.certified_image | image_url: width: 140 }}"
                                    alt="{{ product.metafields.custom.certified_image.alt | escape | default: "Certified Image" }}"
                                    width="70"
                                    height="{{ 70 | divided_by: product.metafields.custom.certified_image.aspect_ratio | ceil }}"
                                    loading="lazy"
                                >
                                </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% schema %}
{
  "name": "Details and Download",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "background-3",
          "label": "Background 3"
        },

        {
          "value": "background-4",
          "label": "Background 4"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Details and Download"
    }
  ]
}
{% endschema %}
